
.content-container{
    width:100%;
    color: #FFF;
    padding: 15px;
   
}

.content-body .heading{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding:20px;
    position: relative;
}
.content-body .desc{
    width:60%;
    text-align: justify;
}
.content-body{
    width:100%;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 3rem;
    margin-top: 45px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    
    
}
.content-body .heading::after{
    content: "";
    width:100%;
    height: 5px;
    position: absolute;
    bottom: 5px;
    left:10px;
    background-color: #38dee4;
}
@media only screen and (max-width: 650px){
    .content-body .desc{
        width:100%;
        text-align: justify;
    }
    .content-body .heading{
        font-size: 2rem;
    }
}
